* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;

}

main {
    display: flex;
    min-height: calc(100vh - 40vh);

}


img {
    height: 300px;
    width: 300px;
    position: relative;
    border-bottom: 2px solid black;
}



nav {
    background: beige;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    font-size: 12px;
}

nav {
    padding: 1em;
    position: relative;
}

footer {
    padding: 1em;
}

header {
    padding: 0.5em;
}



header,
footer {
    background: rgb(17, 133, 7);
    height: 10vh;
    text-align: center;



}

.cards {
    flex: 0 0 200px;
    margin: 10px;
    max-height: 440px;
    border: 2px solid;
    box-shadow: 3px 3px 8px 0px rgb(53, 52, 52);
    position: relative;

}

#panels {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    padding-left: 3.5em;
    justify-content: center;




}

header {
    font-size: 40px;
    color: white;
    border-bottom: 5px solid black;


}

.cards:hover {
    box-shadow: 6px 6px 16px 0px rgb(51, 55, 52);
}

.cards:hover .credit {
    visibility: visible;
}




.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    border-color: white;
    position: absolute;
    top: 8px;
    left: 16px;
    border: 2px solid;


}

table {
    font-size: 12px;
    text-align: left;

}

h2 {
    border-bottom: 1px solid gray;
}

h1 {
    font-size: 20px;
    padding-left: 10px;
    border-bottom: 1px solid rgb(187, 182, 182);
}

table {
    padding-left: 10px;
    padding-bottom: 10px;
}


h3 {
    position: absolute;
    top: 0px;
    right: 16px;
    color: aliceblue;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 14px;
}

p>span {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    background: red;
    vertical-align: middle;
    margin: 5px 30px 5px 0;


}

.credit {
    position: absolute;
    bottom: 130px;
    left: 10px;
    color: azure;
    font-size: 12px;
    visibility: hidden;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

#NT {
    background: #02a028;
}

#NU {
    background: #649a31;
}

#R {
    background: #99cb68;
}

#Re {
    background: #fecc33;
}

#D {
    background: #fe9a01;
}

#NI {
    background: #c26967;
}

#NV {
    background: #9b0000;
}

#NE {
    background: #660032;
}

#NC {
    background: #320033;
}

#DD {
    background: black;
}

#conserv {
    padding-top: 10px;
    position: sticky;
    top: 0;
}